<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <div class="row">
        <div class="col align-self-center ">
          <div style="margin-left: 5px;">
            <h4 style="color:#4252FF;">SEJA PROTAGONISTA DA SUA CARREIRA!</h4>
            <span>
              Construa uma trilha para sua carreira baseado no Modelo Grow de John Whitmore, onde ajudamos você a definir metas e desenvolver autoconfiança para entrar no mercado de TECH.
            </span><br>
              <button class="btn btn-button align-self-end" style="background-color: #4252FF;">
              <span style="color:white;">
                Comece a sua jornada
              </span>
            </button>
          </div>
        </div>
        <div class="col-md-6">
          <img [src]="images[0]" alt="Random first slide" height="534" width="700">
        </div>
      </div>
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <div class="row">
        <div class="col align-self-center">
          <div style="margin-left: 5px;">
            <h4 style="color:#4252FF;">QUER DESCOBRIR POR ONDE COMEÇAR?</h4>
            <span>
              GrowGirl foi desenvolvido para ajudar todas as mulheres que não sabem como ingressar no mercado de TECH. Expanda seu potencial, aumente sua autoconfiança de maneira divertida e recompensadora.
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <img [src]="images[1]" alt="Random second slide" height="534" width="700">
        </div>
      </div>
    </div>
    <!-- <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div> -->
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <div class="row">
        <div class="col align-self-center">
          <div style="margin-left: 5px;">
            <h4 style="color:#4252FF;">DESCUBRA O SEU LUGAR NO MERCADO DE TECH</h4>
          <span>
            Aprenda de forma leve e divertida a encontrar seu propósito no trabalho.
          </span>
          </div>
        </div>
        <div class="col-md-6">
          <img [src]="images[2]" alt="Random third slide" height="534" width="700">
        </div>
      </div>
    </div>
    <!-- <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div> -->
  </ng-template>
</ngb-carousel>
