<div class="dialog-header" *ngIf="isAvailable">
  <img class="dialog-img" src="../../../assets/img-lamp.png"/>
  <div class="dialog-text">
    <span>
      Nesta etapa final você vai estabelecer as ações que serão desenvolvidas. A partir das opções identificadas, o você deve estabelecer um plano de ação claro, relatando de forma detalhada o que será feito, em qual momento, de que maneira e quem será o responsável por cumprir cada uma das tarefas determinadas.
    </span>
  </div>
</div>

<h1 mat-dialog-title>
  <h4 class="window-title">E agora?</h4>
  <button mat-dialog-close class="close-button"> 
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
  </button>
</h1>

<div mat-dialog-content>
  <div class="col-md-12"  *ngIf="isAvailable">
    <p>
      <label for="obj-list">Qual deve ser o seu primeiro passo?</label>
      <textarea class="forms-field"></textarea>
    </p>

    <p>
      <label for="obj-list">Quando você vai agir?</label>
      <textarea class="big-field forms-field"></textarea>
    </p>

    <p>
      <label for="obj-list">O que pode bloquear seu caminho? O que pretende fazer para ultrapassar as barreiras?</label>
      <textarea class="forms-field"></textarea>
    </p>
    
    <p>
      <label for="obj-list">De 0 a 10, qual seu grau de comprometimento? Sendo 0 nada comprometido e 10 muito comprometido.</label>
      <mat-radio-group aria-label="Select an option" style="display:block">
        <mat-radio-button value="1" style="margin-right: 15px">1</mat-radio-button>
        <mat-radio-button value="2" style="margin-right: 15px">2</mat-radio-button>
        <mat-radio-button value="3" style="margin-right: 15px">3</mat-radio-button>
        <mat-radio-button value="4" style="margin-right: 15px">4</mat-radio-button>
        <mat-radio-button value="5" style="margin-right: 15px">5</mat-radio-button>
        <mat-radio-button value="6" style="margin-right: 15px">6</mat-radio-button>
        <mat-radio-button value="7" style="margin-right: 15px">7</mat-radio-button>
        <mat-radio-button value="8" style="margin-right: 15px">8</mat-radio-button>        
        <mat-radio-button value="9" style="margin-right: 15px">9</mat-radio-button>
        <mat-radio-button value="10" style="margin-right: 15px">10</mat-radio-button>
      </mat-radio-group>
    </p>
  </div>

  <span *ngIf="!isAvailable">Uh oh! Você pulou algum passo!</span>
</div>

<div class="action-buttons" mat-dialog-actions  *ngIf="isAvailable">
  <button class="dialog-button back-button" mat-button [mat-dialog-close]>Voltar</button>
  <button class="dialog-button save-button" mat-button [mat-dialog-close]="true" cdkFocusInitial>Salvar</button>
</div>
