<app-header></app-header>
<!-- style="background-image: url('assets/login-background.png');
    max-width: 100%;
    height: auto;"
  position:absolute; left:1px; top:1px; z-index: 1;
position:absolute; left:1px; top:1px; z-index: 2;-->
<div class="col-lg-12" style=" position: absolute;background-image: linear-gradient(to right, #EB7C44, #FF4571, #B13FEB, #4252FF );">
  <!-- <img style="z-index: 1;" src="assets/login-background.png" class="img-fluid"> -->
    <div id="box" class="col-md-3 mt-5 mb-5">

      <!-- <h4 class="special-txt-color-blue text-center"><b>REGISTRE-SE</b></h4> -->

      <form action="">
        <div class="form-group mt-1">
          <input type="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="username" >
          <br>
          <input type="password" class="form-control " id="exampleInputPassword" aria-describedby="passw" placeholder="password" >
        </div>

        <div class="form-group">
          <input type="checkbox" class="mr-1" id="remindme" name="remindme" [value]="checked"/>
          <small for="remindme">Lembre-me
            <a class="float-right" href="#"><i>esqueceu senha?</i></a>
          </small>
        </div>

        <div class="form-group">
          <input type="checkbox" class="mr-1" id="remindme" name="remindme" [value]="checked"/>
          <small for="remindme">Clicando aqui você concorda com nossos
            <a href="#"><i>*termos e condições</i></a>.
          </small>
        </div>
        <button class="btn btn-button" style="float: center;" (click)="login()">
          <img src="assets/bt-login1.svg" width="150px;">
        </button>
      </form>
    </div>
</div>
