<mat-toolbar>
  <div class="container" >
    <div class="row mb-4">
      <button mat-button ><mat-icon style="color: #4252FF;">menu</mat-icon> <span style="color: #4252FF;">MENU</span></button>
      <div class="align-self-center align-items-center offset-3">
        <img src="assets/GrowGirl-logo-colorized-4.svg" style="margin-top: 30px;">
      </div>
      <div class="col-md-1 offset-3 align-items-center align-self-end justify-content-end">
        <img src="assets/icone-lupa-busca.svg" width="30px;">
      </div>
    </div>
  </div>
</mat-toolbar>

<div class="container">
  <h4 class="color-8">CRIE SEU PERFIL</h4>
  <div class="row" style="width: 200px; position: absolute;">
    <!-- <div class="row" *ngFor="let image of images; index as i">
      <img  [src]="image" alt="" width="200">
    </div> -->
  </div>
  <h4 class="color-5">Conte um pouco mais sobre sua trajetória profissional</h4>
  <span></span>

  <!-- <h6 class="color-5">Sobre você</h6> -->
  <!-- <span class="color-5">Conte-nos um pouco sobre você...</span> -->

  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
         <h5 class="color-5">Experiências</h5>
        </mat-panel-title>
        <!-- <mat-panel-description>
        </mat-panel-description> -->
      </mat-expansion-panel-header>

     <div class="row">
      <div class="col-6">
        <mat-form-field>
          <mat-label>Cargo</mat-label>
          <input matInput type="text" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Tipo de Emprego</mat-label>
          <mat-select >
            <mat-option *ngFor="let job of jobs"
            value="job.id">{{job.name}}</mat-option>
            <!-- <mat-option value="option3">Option 3</mat-option> -->
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Empresa</mat-label>
          <input matInput type="text" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Localidade</mat-label>
          <input matInput type="text" />
        </mat-form-field>

        <section class="example-section">
          <mat-checkbox class="example-margin" [(ngModel)]="checked">Trabalho atualmente neste cargo</mat-checkbox>
        </section>

        <mat-form-field>
          <mat-label>Data de início</mat-label>
          <input matInput [matDatepicker]="picker1" (focus)="picker1.open()" readonly>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="ml-2" *ngIf="!checked" >
          <mat-label>Data de término</mat-label>
          <input matInput [matDatepicker]="picker2" (focus)="picker2.open()" readonly>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Descrição</mat-label>
          <textarea matInput placeholder=""></textarea>
        </mat-form-field><br>
        <button mat-button>Cancelar</button>
        <button mat-button>Salvar</button>

      </div>
      <div class="col-6">
        <div *ngFor="let item of jobs2" ><br>
          <span><b>{{item.cargo}}</b></span><br>
          <span>{{item.dataInicio}} - {{item.dataTermino}}</span><br>
          <span>{{item.descricao}}</span>
        </div>
      </div>
     </div>
    </mat-expansion-panel>

    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h5 class="color-5">Formação</h5>
        </mat-panel-title>
      <!--   <mat-panel-description>
        </mat-panel-description> -->
      </mat-expansion-panel-header>

      <mat-form-field>
        <mat-label>Country</mat-label>
        <input matInput type="text" />

      </mat-form-field>
    </mat-expansion-panel>

  </mat-accordion>
</div>
