
<!-- <div class="container"> -->
  <!-- fxLayoutGap="32px" -->
  <!-- <app-navigation ></app-navigation> -->
  <div class="container-fluid" *ngIf="false" >
    <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-1 col-xl-1">
            <nav class="navbar navbar-light navbar-expand-sm px-0 flex-row flex-nowrap">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarWEX" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                 <div class="navbar-collapse collapse" id="navbarWEX">
                    <div class="nav flex-sm-column flex-row">
                        <a class="nav-item nav-link active" href="#">Home</a>
                        <a href="#" class="nav-item nav-link">Link</a>
                        <a href="#" class="nav-item nav-link">Link</a>
                        <a href="#" class="nav-item nav-link">Link</a>
                    </div>
                </div>
            </nav>
        </div>
        <!-- <div class="col py-2">
            <h2>Hello There</h2>
            <p>Test test test test test test test </p>
        </div> -->
    </div>
</div>

  <div
  style="background-image: url('assets/img-dashboard-teste.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100%;"
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutAlign="flex-start">
  <!-- linha 1 -->
    <div
    class="with-cursor-linha1"
    fxFlex="0 1 calc(33.3% - 32px)"
      fxFlex.lt-md="0 1 calc(50% - 32px)"
      fxFlex.lt-sm="100%"
      (click)="openDialog()">
    </div>
    <div
    class="without-cursor-linha1"
    fxFlex="0 1 calc(50% - 32px)"
      fxFlex.lt-md="0 1 calc(50% - 32px)"
      fxFlex.lt-sm="100%"
     >
    </div>


<!--     <div
    fxFlex="0 1 calc(33.3% - 32px)"
      fxFlex.lt-md="0 1 calc(50% - 32px)"
      fxFlex.lt-sm="100%"
      style="background-color: coral;">
    </div> -->

    <!-- linha 2-->
    <div
    class="without-cursor"
    fxFlex="0 1 calc(33.3% - 32px)"
      fxFlex.lt-md="0 1 calc(50% - 32px)"
      fxFlex.lt-sm="100%"
      >
    </div>
    <div
    class="with-cursor"
    fxFlex="0 1 calc(50% - 32px)"
      fxFlex.lt-md="0 1 calc(50% - 32px)"
      fxFlex.lt-sm="100%"
      (click)="openRealityDialog()"
     >
    </div>

    <!-- linha 3 -->
    <div
    class="without-cursor"
    fxFlex="0 1 calc(33.3% - 32px)"
      fxFlex.lt-md="0 1 calc(50% - 32px)"
      fxFlex.lt-sm="100%"
      >
    </div>
    <div
    class="with-cursor3"
    fxFlex="0 1 calc(50% - 32px)"
      fxFlex.lt-md="0 1 calc(50% - 32px)"
      fxFlex.lt-sm="100%"
      (click)="openOptionsDialog()"
     >
    </div>

    <!-- linha 4 -->
    <div
    class="without-cursor"
    fxFlex="0 1 calc(33.3% - 32px)"
      fxFlex.lt-md="0 1 calc(50% - 32px)"
      fxFlex.lt-sm="100%"
      >
    </div>
    <div
    class="with-cursor"
    fxFlex="0 1 calc(50% - 32px)"
      fxFlex.lt-md="0 1 calc(50% - 32px)"
      fxFlex.lt-sm="100%"
      (click)="openWhatNextDialog()"
     >
    </div>
    <!-- <div
    fxFlex="0 1 calc(33.3% - 32px)"
      fxFlex.lt-md="0 1 calc(50% - 32px)"
      fxFlex.lt-sm="100%"
      (click)="openRealityDialog()" >
      <img src="assets/dashboard/por-do-sol.jpeg" width="250" height="250">
    </div> -->


</div>

<!--  <div
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutGap="32px"
  fxLayoutAlign="flex-start">

 <ng-container *ngFor="let _ of [1,2,3,4,5,6]">
  <app-card
    fxFlex="0 1 calc(33.3% - 32px)"
    fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="100%"
  ></app-card>
</ng-container>
  </div>-->
<!-- </div> -->
<!-- <img src="assets/img-dashboard-teste.png" alt="dashboard"> -->
