<mat-toolbar>
  <img class="img-fluid" src="assets/GrowGirl-logo-colorized-4.svg">
  <!-- <img class="float-right" style="float: right;" src="assets/icone-lupa-busca.svg"> -->
  <div class="float-right" style="text-align: right;width: 100%;">
    <img src="assets/icone-lupa-busca.svg">
    <!-- <img src="assets/icone-lupa-busca.svg"> -->
</div>
</mat-toolbar>

<div id="parte2">
  <img style="margin-top: 20px;" src="assets/teste_banner.jpg">
</div>

<div id="parte3" class="" style="background-image: url('assets/fundo-degrade-landingpage.svg'); ">
  <!-- backgroud-repeat:no-repeat; -->
  <h3 for="parte3" class="ferramentas-text" style="padding-top: 25px;">CONHEÇA TODAS AS NOSSAS FERRAMENTAS</h3><br>
  <!-- <p class="ferramentas-text">CONHEÇA TODAS AS NOSSAS FERRAMENTAS</p> -->
    <div class="row">
      <div id="chat" class="col-xs-6 col-md-3" style="text-align:center;">
        <img src="assets/ferramentas/chat.svg">
        <p class="ferramentas-text mt-1">CHAT</p>
      </div>
      <div id="rede_apoio" class="col-xs-6 col-md-3" style="text-align:center;">
        <img class="img-fluid" src="assets/ferramentas/rede_apoio.svg">
        <p class="ferramentas-text mt-1">REDE DE APOIO</p>
      </div>
      <div id="chat" class="col-xs-6 col-md-3" style="text-align:center;">
        <img class="img-fluid" src="assets/ferramentas/feedback.svg">
        <p class="ferramentas-text mt-1">FEEDBACK</p>
      </div>
      <div id="chat" class="col-xs-6 col-md-3" style="text-align:center;">
        <img class="img-fluid" src="assets/ferramentas/simulador_entrevista.svg">
        <p class="ferramentas-text mt-1">SIMULADOR DE ENTREVISTAS</p>
      </div>
    </div>
</div>

<div id="footer">
  <div class="col-md-6">
    <h4>FALE CONOSCO</h4>
    <label for="part4-1">Telefone:</label>
    <label for="part4-2">Horário de funcionamento:</label>
    <label for="part4-3">Endereço:</label>
    <label for="part4-3">Endereço:</label>
  </div>
  <div class="col-md-6">
    <h4>NEWSLETTER</h4>

    <button mat-raised-button >QUERO RECEBER NOVIDADES</button>

    <label for="part4-1">Telefone:</label>
    <label for="part4-2">Horário de funcionamento:</label>
    <label for="part4-3">Endereço:</label>
    <label for="part4-3">Endereço:</label>
  </div>

</div>

